@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  font-family:  Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  scroll-behavior: smooth;
  background-color: rgba(220,213,229,255);
  overflow-x: hidden;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: rgba(220,213,229,255);
}
header ul{
  list-style-type: none;
  display: flex;
  margin-right:80px;
}
header ul li{
  margin:10px;
  font-size: 20px;
  font-weight: 400;
  padding:15px;
}
header ul a{
  text-decoration: none;
  color:rgba(117,48,22,255);
  padding:10px;
  transition: 0.7s;
}
header ul a:hover{
  background-color:rgba(117,48,22,255);
  color:white;
  border-radius: 10px;
}
header .fa-bars{
  display: none;
  cursor: pointer;
}
header .fa-times{
  cursor: pointer;
}
@media (max-width:992px){
 header ul li a{
  color:rgba(117,48,22,255);
  transition: 0.7s;
 }
  header .fa-bars{
      display: block;
  }
  header ul li:nth-child(){
      display: none;
  }
  header .fa-times{
      display: block;
      position: absolute;
      right:0;
      top:0;
      margin:10px;
      font-size: 25px;
  }
  header ul{
      flex-direction: column;
      position: absolute;
      background-color:white;
      height:100vh;
      right:-340px;
      color:red;
      top:0;
      width:250px;
      display: flex;
      align-items: center;
      font-weight: 900;
      font-size: 20px;
      transition: 0.5s;
      margin-right:-5px;
      z-index:1;
  }
  header ul li{
      margin-top:20px;
  }
  header ul.active{
      right:0;
  }
}
.nav{
  max-width: 1200px;
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 0.4fr 0.1fr;
  align-items: center;
}

.logo{
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color:#ffffff;
}
.logo img{
  width:50px;
  margin:10px;
  border-radius: 5px;
}
.box{
  color:white;
  width: 80px;
  height: 30px;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}
.cart-count{
  position: absolute;
  background-color: #6190f6;
  top: -5px;
  right: 50px;
  padding: 3px;
  height: 20px;
  width: 20px;
  line-height:20px;
  border-radius: 50%;
  z-index: 99;
  cursor: pointer;
}
#cart-icon{
  font-size: 1.5rem;
  cursor: pointer;
  color:rgba(117,48,22,255);
}

img{
  width: 100%;
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0px;
  width:calc(600px ,400px);
}
.row .text-block{
  width:300px;
  text-align: center;
}
.row .text-block p{
  line-height: 1.65;
  font-size: 22px;
  font-weight: 100;
  color:black;
}
.row .text-block h2{
  line-height: 1.65;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.row img{
  max-width:100%;
  height:300px;
  margin-left:50px;
  border-radius: 20px;
  background-color: white;
  padding:30px;
}
.row .col-6.d{
  margin-left: 50px;
}
@media(max-width:992px){
  .row{
    flex-wrap: wrap;
  }
  .row img{
    margin-left: 0;
  }
}
@media(max-width:827px){
  .row img{
    height:100%;
    width:100%;
    padding:10px;

  }
  .row .col-6.d{
    margin-left: 0;
  }
  .row{
    padding:20px;
  }
  .row .text-block p{
    line-height: 1.2;
    font-size: 15px;
    font-weight: 100;
  }
}

.container1{
  max-width: 1200px;
  margin: auto;
  margin-top: 30px;
  width: 100%;
  background-color: rgba(220,213,229,255);
}
.container{
  max-width: 1200px;
  padding: 4rem;
  margin: auto;
  margin-top: 30px;
  width: 100%;
  background-color: rgba(220,213,229,255);
}

h2.title{
  font-size: 2.5rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
  color:rgba(117,48,22,255);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.design{
  margin-top: 100px;
  position: relative;
}
.shop-content{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,auto));
  gap:1.5rem;
  justify-content: center;
  align-content: center;
}
.more-p{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(220px,auto));
  gap:1.5rem;
  justify-content: center;
  align-content: center;
}
.more{
  margin:0;
  text-align: center;
  color: rgba(117,48,22,255);
  cursor: pointer;
  max-width:100px;
  margin: auto;
}
.less h2,.more h2{
    font-weight: 500;
    font-size: 20px;
}
.less{
  margin:0;
  text-align: right;
  color: rgba(117,48,22,255);
  cursor: pointer;
  margin-right: 50px;
  display: none;
  transition: 0.5s;
  max-width:100px;
  margin-left: auto;
}
.less:hover{
  text-decoration: underline;
}
.more:hover{
  text-decoration: underline;
}
.food-box{
  position: relative;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  border-radius: 3px;
}

.pic{
  overflow: hidden;
}
.more.active{
  display: none;
  transition: 0.5s;
}
.less.active{
  display: block;
}
.container-m{
  max-width: 1200px;
  padding: 4rem;
  margin: auto;
  margin-top: 10px;
  width: 100%;
  display: none;
  background-color: #f0c275;
}
.container-m.active{
  display: block;
  transition: 0.5s;
  margin-top:0;
}
.pic:hover img{
transform: scale(1.5);
};

.food-img{
  transition: 0.4s;
  aspect-ratio: 1/1;
  object-fit: cover;
}
.food-title{
  font-size: 1rem;
  font-weight: 600;
  color:#ff6348;
}

.food-price{
  font-weight:500 ;
}
.add-cart{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: rgba(117,48,22,255);
  color: white;
  padding: 10px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.7s;
}
.add-cart:hover{
  background-color:pink;
  color:rgba(117,48,22,255);
}
.cart{
  position: fixed;
  top: 0;
  right: -200%;
  width: 400px;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: white;
  box-shadow: 0 1px 4px rgba(40, 37, 37, 0.1);
  z-index: 100;
  transition: 0.7s;
}

.cart-active{
  right:0;
  transition: 0.7s;
}
#header{
  position: relative;
}
.home-img{
  position: absolute;
  left:40.5%;
  bottom:13%;
  width:280px;
  height:355px;
  border-radius: 5px;
}
@media(max-width:800px){
  .home-img{
    position: absolute;
    left:40.5%;
    bottom:9%;
    width:100px;
    height:150px;
    border-radius: 5px;
  }
}

a img.a1{
  position: relative;
}
a img.a2{
  position: absolute;
  left:40.5%;
  bottom:20%;
  width:238px;
  height:355px;
  border-radius: 5px;
}
.cart-title{
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-bottom:20px ;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  color:rgba(117,48,22,255);
}

.cart-box{
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  padding-bottom: 10px;
}

.cart-img{
  width: 75px;
  height: 75px;
  object-fit: cover;
  border:2px solid  rgba(0,0,0,0.1);
  padding: 5px;
}
.detail-box{
  display: grid;
  row-gap: 0.5rem;  
}

.price-box{
  display: flex;
  justify-content: space-between; 
}

.cart-food-title{
   font-size: 1rem;
   text-transform: uppercase;
   color:#ff6348;
   font-weight: 500;
}

.cart-price{
  font-weight: 500;
}

.cart-quantity{
  border:1px solid rgba(0,0,0,0.1);
  outline:none ;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove{
  font-size: 24px;
  color:red;
  cursor: pointer;
}

.total{
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
  color: rgba(117,48,22,255);
}

.total-title{
  font-size: 1rem;
  font-weight: 600;
}

.total-price{
  margin-left: 0.5rem;
}

.btn-buy{
  padding: 12px 20px;
  background-color:rgba(117,48,22,255);
  color:white;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

#cart-close{
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  cursor: pointer;
}
.bottom{
  background-color: rgba(220,213,229,255);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding:50px;
  margin-top:50px;
  color:black;
  flex-wrap: wrap;
  border-top: 1px solid white;
}
.bottom.c a{
   color:rgba(117,48,22,255);
   text-decoration: none;
}
.bottom.c a:hover{
  text-decoration: underline;
}
.bottom div{
  width:300px;
  text-align: center;
}
.bottom div h3{
  padding:20px;
  color:rgba(117,48,22,255);
  font-size: 30px;
  font-weight: 400;
}
.bottom div ul li{
  list-style-type: none;
  margin:5px;
  padding:8px;
  color:black;
}
.bottom div ul a{
  text-decoration: none;
  color:black;
}
.bottom .b-image{
  border-radius: 20px;
}
.bottom .b-s img{
  width:40px;
  margin:5px;
  margin-top:20px;
}
